@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.formm{
    display: flex;
    justify-content: center;
}
.formm .mainform{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formm .mainform {
    width: 100%;
}
.formm .mainform div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.formm .mainform div label{
    float: left;
}
.formm .mainform div input,
.formm .mainform div label{
    width: 75%;
    margin: 3px;
}

.formm .mainform div label{
    font-size: 23px;
}

.formm .mainform div input,
.formm .mainform div .input-wrapper input{
    height: 36px;
    border-radius: 13px;
    font-weight: 500;
    font-size: 23px;
    padding: 7px;
    padding-left: 12px;
}

.labell{
    font-weight: 500; 
}

.services{ 
margin-top: 33px !important;
}
.contcode{
    font-weight: 700;
}
.formm{
    margin-top: 30px !important;
    margin-bottom: 24px;
}
.mainform .fi,
.mainform .si{
    margin-top: 12px !important;
}
/* extra  */
#input-wrapper{
    position: relative;
}
#input-wrapper label {
    position: absolute;  
    top: 22%;
  }
  #input-wrapper input{
      padding: 10px !important; 
  }

  #input-wrapper label {
    /* z-index: 99; */
    z-index: 0;
    line-height: 25px;
    padding: 2px;
    margin-left: 5px;
  }
  
 
  #input-wrapper input {
    /* height: 25px; */
    width: 75%;
    text-indent: 35px;
  }

  input{
      letter-spacing: 2.3px;
      font-family: 'Ubuntu', sans-serif;
  }